<div class="card faculties-form ">
  <div class="card-header">
    <h2>Создать факультет</h2>
  </div>
  <div class="card-body">


<%= render 'form', faculty: @faculty %>

<%= link_to 'Back', faculties_path %>
</div>
</div>
